ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
  ul li{
    display: table-cell;
    min-width: 50px;
    width: 25%;
  }
  
  ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #555;
    font-weight: bold;
  }
  
  ul li.current{
    background-color: #DEEBF7;
  }
  
  ul li.current a{
    color: #555;
  }
  
  ul li:hover{
    background-color: #FFF2CC;
  }