body{
  min-height: 110vh;
}

nav.head{
  margin-top: -10px;
  padding-top: 10px;
  background-color: white;
}
nav.head ul{
    background-color: white;
    display: table;
    margin: 0 auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    }
    nav.head ul li{
    display: table-cell;
    min-width: 50px;
    width: 25%;
    
    border-left:1px whitesmoke solid;
    border-right: 1px whitesmoke solid;
    border-radius: 10px;
    }
    nav.head ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    }
    nav.head ul li.current{
    background-color: #DEEBF7;
    }
    nav.head ul li:hover{
    background-color: #FFF2CC;
    }

div.top-wrapper{
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
h1.aaa{
  margin-top: 30px;
  text-align: center;
  color: blue;
}
h3,h4{
  display: inline;
}
img{
  display: inline-block;
  width: 190px;
  margin: 0;
  padding: 0;
}
div.img{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/*========= particle js を描画するエリア設定 ===============*/

canvas {
    display: block;
  }
  #particles-js{ 
    position:fixed;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 98.8%;
    height: 110%;
    background-color: rgb(191, 253, 253);
    margin: 0;
    top: -10px;
  }
  
  #wrapper{
    position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width:100%;
    height: 100%;
  }
/*========= ページトップのためのCSS ===============*/

/*リンクの形状*/
#page-top a{
    display: flex;
    justify-content:center;
    align-items:center;
    background:#942D2F;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: none;
    font-size:0.6rem;
    transition:all 0.3s;
    right: 10px;
  }
  
  #page-top a:hover{
    background: #777;
  }
  
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}
#footer{
    position: relative;
    z-index: 2;
  }
small{
    background:#333;
    color:#fff;
    display: block;
    text-align: center;
    padding:20px;
    z-index: 2;
  }

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
top:0;
  right: -20%;
width:20%;
  height: 100vh;/*ナビの高さ*/
background:rgba(207, 255, 209, 0.747);
  /*動き*/
transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 20%;
  height: 100vh;/*表示する高さ*/
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
  overflow: hidden;
}

/*リストのレイアウト設定*/

#g-nav li{
  display: block;
  list-style: none;
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#g-nav li:hover{
  background-color: rgba(141, 247, 241, 0.74);
}
#g-nav li a{
color: #333;
text-decoration: none;
padding:10px;
display: block;
letter-spacing: 0.1em;
font-weight: bold;
overflow: hidden;
text-align: center;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
top:5px;
right: 10px;
cursor: pointer;
  width: 50px;
  height:50px;
}

/*×に変化*/  
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: #666;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
top:15px; 
}

.openbtn1 span:nth-of-type(2) {
top:23px;
}

.openbtn1 span:nth-of-type(3) {
top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
